<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECO Sense</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src='https://cdn.plot.ly/plotly-2.20.0.min.js'></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container-fluid align-items-center p-5"
        style="border-radius: 4px; margin-bottom: 25px; text-align: center; background-color: rgb(105, 190, 148)">
        <h1 style="font-weight: bold;">EcoSaver</h1>
        <h2>Tænk Grønt, Spar penge</h2>
    </div>

    <div id="app">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Vælg by for vejrudsigten*</h5>
                        <select v-model.lazy="city" class="form-select mb-3">
                            <option value="">Vælg by</option>
                            <option value="Albertslund">Albertslund</option>
                            <option value="Asnæs">Asnæs</option>
                            <option value="Ballerup">Ballerup</option>
                            <option value="Birkerød">Birkerød</option>
                            <option value="Bjæverskov">Bjæverskov</option>
                            <option value="Blovstrød">Blovstrød</option>
                            <option value="Borup">Borup</option>
                            <option value="Charlottenlund">Charlottenlund</option>
                            <option value="Christianshavn">Christianshavn</option>
                            <option value="Christiansø">Christiansø</option>
                            <option value="Dragør">Dragør</option>
                            <option value="Ejby (Glostrup)">Ejby (Glostrup)</option>
                            <option value="Ejby (koge Kommune)">Ejby (Køge Kommune)</option>
                            <option value="Espergærde">Espergærde</option>
                            <option value="Farum">Farum</option>
                            <option value="Faxe">Faxe</option>
                            <option value="Faxe-Ladeplads">Faxe Ladeplads</option>
                            <option value="Fensmark">Fensmark</option>
                            <option value="Flong">Fløng</option>
                            <option value="Forlev">Forlev</option>
                            <option value="Fredensborg">Fredensborg</option>
                            <option value="Frederiksberg">Frederiksberg</option>
                            <option value="Frederikssund">Frederikssund</option>
                            <option value="Frederiksværk">Frederiksværk</option>
                            <option value="Fuglebjerg">Fuglebjerg</option>
                            <option value="Ganlose">Ganløse</option>
                            <option value="Gilleleje">Gilleleje</option>
                            <option value="Glostrup">Glostrup</option>
                            <option value="Greve">Greve</option>
                            <option value="Græsted">Græsted</option>
                            <option value="Gundsomagle">Gundsømagle</option>
                            <option value="Gorlev">Gørlev</option>
                            <option value="Haslev">Haslev</option>
                            <option value="Havdrup">Havdrup</option>
                            <option value="Hellebæk">Hellebæk</option>
                            <option value="Helsinge">Helsinge</option>
                            <option value="Helsingor">Helsingør</option>
                            <option value="Hillerod">Hillerød</option>
                            <option value="Holbæk">Holbæk</option>
                            <option value="Holeby">Holeby</option>
                            <option value="Hornbæk">Hornbæk</option>
                            <option value="Humlebæk">Humlebæk</option>
                            <option value="Hundested">Hundested</option>
                            <option value="Hvidovre">Hvidovre</option>
                            <option value="Hårlev">Hårlev</option>
                            <option value="Hong">Høng</option>
                            <option value="Horsholm">Hørsholm</option>
                            <option value="Horve">Hørve</option>
                            <option value="Ishoj">Ishøj</option>
                            <option value="Jyderup">Jyderup</option>
                            <option value="Jyllinge">Jyllinge</option>
                            <option value="Jægerspris">Jægerspris</option>
                            <option value="Kalundborg">Kalundborg</option>
                            <option value="Kirke-Hvalso">Kirke Hvalsø</option>
                            <option value="Kokkedal">Kokkedal</option>
                            <option value="Kongens-Lyngby">Kongens Lyngby</option>
                            <option value="Korsor">Korsør</option>
                            <option value="København">København</option>
                            <option value="Køge">Køge</option>
                            <option value="Lejre">Lejre</option>
                            <option value="Lillerod">Lillerød</option>
                            <option value="Liseleje">Liseleje</option>
                            <option value="Lynge">Lynge</option>
                            <option value="Maribo">Maribo</option>
                            <option value="Målov">Måløv</option>
                            <option value="Nakskov">Nakskov</option>
                            <option value="Neder-Vindinge">Neder Vindinge</option>
                            <option value="Nexo">Nexø</option>
                            <option value="Nivå">Nivå</option>
                            <option value="Nykobing-Falster">Nykøbing Falster</option>
                            <option value="Nykobing-Sjælland">Nykøbing Sjælland</option>
                            <option value="Nyråd">Nyråd</option>
                            <option value="Næstved">Næstved</option>
                            <option value="Nodebo">Nødebo</option>
                            <option value="Norre-Alslev">Nørre Alslev</option>
                            <option value="Osted">Osted</option>
                            <option value="Præsto">Præstø</option>
                            <option value="Ringsted">Ringsted</option>
                            <option value="Roskilde">Roskilde</option>
                            <option value="Rodby">Rødby</option>
                            <option value="Rodbyhavn">Rødbyhavn</option>
                            <option value="Rodovre">Rødovre</option>
                            <option value="Rodvig">Rødvig</option>
                            <option value="Ronne">Rønne</option>
                            <option value="Ronnede">Rønnede</option>
                            <option value="Sakskobing">Sakskøbing</option>
                            <option value="Skibby">Skibby</option>
                            <option value="Skælskor">Skælskør</option>
                            <option value="Skævinge">Skævinge</option>
                            <option value="Slagelse">Slagelse</option>
                            <option value="Slangerup">Slangerup</option>
                            <option value="Smorumnedre">Smørumnedre</option>
                            <option value="Solrod">Solrød</option>
                            <option value="Solrod-Strand">Solrød Strand</option>
                            <option value="Soro">Sorø</option>
                            <option value="Stavnsholt">Stavnsholt</option>
                            <option value="Stege">Stege</option>
                            <option value="Stenlille">Stenlille</option>
                            <option value="Stenlose">Stenløse</option>
                            <option value="Store-Heddinge">Store Heddinge</option>
                            <option value="Stroby-Egede">Strøby Egede</option>
                            <option value="Stubbekobing">Stubbekøbing</option>
                            <option value="Sundby">Sundby</option>
                            <option value="Svebolle">Svebølle</option>
                            <option value="Svinninge">Svinninge</option>
                            <option value="Svogerslev">Svogerslev</option>
                            <option value="Taastrup">Taastrup</option>
                            <option value="Trorod">Trørød</option>
                            <option value="Tune">Tune</option>
                            <option value="Tårnby">Tårnby</option>
                            <option value="Tollose">Tølløse</option>
                            <option value="Vallensbæk">Vallensbæk</option>
                            <option value="Vanlose">Vanløse</option>
                            <option value="Vekso">Veksø</option>
                            <option value="Viby">Viby</option>
                            <option value="Vindinge">Vindinge</option>
                            <option value="Vipperod">Vipperød</option>
                            <option value="Vordingborg">Vordingborg</option>
                            <option value="Værlose">Værløse</option>
                            <option value="Åkirkeby">Åkirkeby</option>
                            <option value="Olstykke">Ølstykke</option>
                            <option value="Orslev">Ørslev</option>
                        </select>
                        <p class="card-text">By: {{city}}</p>
                        <p class="card-text">Temperatur: {{weatherApiData.temperature}}</p>
                        <p class="card-text">Beskrivelse: {{weatherApiData.description}}</p>
                        <div class="card-text" v-if="warning === 'sol'"><br> {{rainWarning}}
                            <img src="https://cdn.pixabay.com/photo/2013/07/13/10/32/good-157436_1280.png" alt="Sol">
                        </div>
                        <div class="card-text" v-else-if="warning === 'regner'">{{rainWarning}}
                            <img src="https://cdn.pixabay.com/photo/2013/07/13/10/32/bad-157437_1280.png" alt="Regn">
                        </div>
                        <div v-else>
                        </div>
                        <div class="card-footer">*Kun byer fra region sjælland og hovedstaden kan ses - Enkelte byer kan mangle</div>
                        <button @click="GetWeatherByCity" class="btn btn-primary">Vis vejr</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Vælg tidspunkt</h5>
                        <select v-model.lazy="hour" style="align-items: center; justify-content: center; display: flex;"
                            class="form-select mb-3">
                            <option value="0">00:00</option>
                            <option value="1">01:00</option>
                            <option value="2">02:00</option>
                            <option value="3">03:00</option>
                            <option value="4">04:00</option>
                            <option value="5">05:00</option>
                            <option value="6">06:00</option>
                            <option value="7">07:00</option>
                            <option value="8">08:00</option>
                            <option value="9">09:00</option>
                            <option value="10">10:00</option>
                            <option value="11">11:00</option>
                            <option value="12">12:00</option>
                            <option value="13">13:00</option>
                            <option value="14">14:00</option>
                            <option value="15">15:00</option>
                            <option value="16">16:00</option>
                            <option value="17">17:00</option>
                            <option value="18">18:00</option>
                            <option value="19">19:00</option>
                            <option value="20">20:00</option>
                            <option value="21">21:00</option>
                            <option value="22">22:00</option>
                            <option value="23">23:00</option>
                        </select>
                        <p v-if="priceAtHour" class="card-text">Pris kl {{hour}}: {{priceAtHour}},-
                            <span>{{message}}</span>
                        </p><br>
                        <button @click="ShowPriceForHour" class="btn btn-primary">Vis pris pr. time</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Gennemsnit pris for i dag</h5>
                        <div>
                            Gennemsnit for i dag: {{averageForDay}},- <br>
                            {{averageMessage}}*
                        </div>
                        <div class="card-footer" style="bottom: 5%">
                            *I forhold til elpriserne den seneste uge
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Miljøvenlig strøm</h5>

                            <p class="card-text">{{EnergyMessage}}*<span v-if="totalFossilEnergy">{{totalFossilEnergy}}
                                </span></p>
                            <button @click="ShowGreenEnergy" class="btn btn-round btn-primary mb-md-0 mb-2"
                                style="padding: 3px;">Grøn eller ej</button>
                            <div class="card-footer">* Beregningen er forløbig og kan ikke regnes som et helhedsbillede.
                                Beregningen er en samling af fossile gasser, olier og kul
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Vejr i {{locationCity}}</h5>
                            <p class="card-text">Temperatur: {{temp}}</p>
                            <p class="card-text">Fugtighed: {{humi}}</p>
                            <p class="card-text">Udendørs tøjophæng? <br> {{outdoorDryMessage}}*</p>
                            <button @click="GetLocationWeather" class="btn btn-round btn-primary mb-md-0 mb-2"
                                style="padding: 3px;"> Temp/Humi</button>
                            <div class="card-footer">*Foreløbigt. Information baseret på fugtighed, vejrudsigt og
                                temperatur</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Strøm Historik</h5>

                            <p>Gennemsnit for 0 dage siden: {{ averagePriceDay1}},-</p>
                            <p>Gennemsnit for 1 dage siden: {{ averagePriceDay2 }},-</p>
                            <p>Gennemsnit for 2 dage siden: {{ averagePriceDay3 }},-</p>
                            <p>Gennemsnit for 3 dage siden: {{ averagePriceDay4 }},-</p>
                            <p>Gennemsnit for 4 dage siden: {{ averagePriceDay5 }},-</p>
                            <p>Gennemsnit for 5 dage siden: {{ averagePriceDay6 }},-</p>
                            <p>Gennemsnit for 6 dage siden: {{ averagePriceDay7 }},-</p>
                            <p>Gennemsnit for hele ugen: {{ weeklyAverage }},-</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Historik i en søjle</h5>
                            <div id='myDiv'>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Har vi sparet dig penge idag? </h5>
                            <div class="card-text" style="align-items: center;">
                                Så mange gange har vi sparet dig penge indtil videre: {{counter}}
                                <div style="display: inline-block;">
                                    <button @click="NoButton()" class="btn btn-round btn-danger mb-md-0 mb-2"
                                        style="padding: 3px; position: absolute; width: 30%; bottom: 10%; height: 20%; margin-left: 50%;">Nej</button>
                                    <button @click="Counter()" class="btn btn-round btn-success mb-md-0 mb-2"
                                        style="padding: 3px; position: absolute; width: 30%; bottom: 10%; height: 20%;">Ja</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="index.js"></script>

</body>

</html>